{% extends "belt/base.html" %}
{% block content %}
    <form action="{% url 'login:signin' %}" method="post">
        {% csrf_token %}
        {{ signin_form }}
        <input type="submit" name="signin" value="Login">
    </form>
    <form action="{% url 'login:signin' %}" method="post">
        {% csrf_token %}
        {{ register_form }}
        <input type="submit" name="register" value="Register">
    </form>
    {% if errors %}
        {% for error in errors %}
            <p>{{error}}</p>
        {% endfor %}
    {% endif %}
{% endblock  %}